.clear-block:after
{
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}

.clear-block
{
	display:block;
}

* html .clear-block
{
	height:1%;
}

.thumbnail {
	height: 128px;
	width: auto;
	margin: 5px;
}

.photo {
	width: 90%;
	height: auto;
}

.gallery
{
	width: 160px;
	float:left;
	text-align: center;
	padding-bottom: 8px;
}

.galleryimage
{
	margin:0;
	padding: 0px 16px 0 16px;
	width: 128px;
	height: 128px;
	line-height: 128px;
}

.gallerycaption
{
	display: inline-block;
	width:auto;
	margin: 0;
	padding: 0;
	text-align: left;
}

.gallerycaption p {
	margin: 0;
}
